<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="eISConnection" connectionString="Server=CNA-EIS-01; Trusted_Connection=yes; database=eIS; connection timeout=30"/>
  </connectionStrings>
  <appSettings>
  
    <add key="Input" value="\\Oakcolo-mma01\EIS\VSProjects\ADcleanUp\Input"/>
    <add key="Output" value="\\Oakcolo-mma01\EIS\VSProjects\ADcleanUp\Output"/>
    <add key="File" value="\\Oakcolo-mma01\EIS\VSProjects\ADcleanUp\Input\AD SNA 5-28-13.xls"/>

    <add key="P01" value="1741"/>
    <add key="V01" value="Airport"/>
    <add key="Sh01" value="Arrival"/>

    <add key="P02" value="1742"/>
    <add key="V02" value="Arrival Date"/>
    <add key="Sh02" value="Arrival"/>

    <add key="P03" value="1743"/>
    <add key="V03" value="Arrival Time"/>
    <add key="Sh03" value="Arrival"/>

    <add key="P04" value="1744"/>
    <add key="V04" value="Airline"/>
    <add key="Sh04" value="Arrival"/>

    <add key="P05" value="1744"/>
    <add key="V05" value="Flight #"/>
    <add key="Sh05" value="Arrival"/>

    <add key="P06" value="1746"/>
    <add key="V06" value="Airport"/>
    <add key="Sh06" value="Departure"/>

    <add key="P07" value="1747"/>
    <add key="V07" value="Departure Date"/>
    <add key="Sh07" value="Departure"/>

    <add key="P08" value="1748"/>
    <add key="V08" value="Departure Time"/>
    <add key="Sh08" value="Departure"/>

    <add key="P09" value="1749"/>
    <add key="V09" value="Airline"/>
    <add key="Sh09" value="Departure"/>

    <add key="P10" value="1749"/>
    <add key="V10" value="Flight #"/>
    <add key="Sh10" value="Departure"/>

    <add key="P11" value="1750"/>
    <add key="V11" value="Airline Conf#"/>
    <add key="Sh11" value="Arrival"/>

    <add key="P12" value="1750"/>
    <add key="V12" value="Airline Conf#"/>
    <add key="Sh12" value="Departure"/>

    <add key="V13" value="ID"/>
    <add key="Sh12" value="Arrival"/>

    <add key="V14" value="ID"/>
    <add key="Sh12" value="Departure"/>

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>